<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    
    <!-- ===== JQUERY ===== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- ===== SLICK SLIDER CSS===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

    <!-- ===== SLICK SLIDER JS===== -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>




    <div class="bar">
        <a href="web1.html">Home</a> / <a href="shop.html">Shop</a>
    </div>

    <!-- ===== FILTER ===== -->
    <div class="filter">
        <i class='bx bx-filter-alt filler__icon' id='filter-icon'></i>
        <div class='filter__menu' id='filter-menu'>
            <div class='filter__menu__left'>
                <i class='bx bx-x cancel__filter' id='cancel-filter'></i>
                <div class='category'>
                    <p class='category__title'>CATEGORIES</p>
                    <div class='products'>
                        <div class='products__title'>
                            <p class='products__label'>PRODUCTS</p>  
                        </div>
                        <div class='products__li'>
                            <p id='type-top'>Top</p>
                            <p id='type-bottom'>Bottom</p>
                            <p id='type-shoes'>Shoes</p>
                        </div>
                    </div>
                    <div class='brands'>
                        <div class='brands__title'>
                            <p class='brands__label'>BRANDS</p>  
                        </div>
                        <div class='brands__li'>
                            <p>Balenciaga</p>
                            <p>Gucci</p>
                            <p>Adidas</p>
                            <p>Nike</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='filter__menu__right'></div>
        </div>
        <div class="sort" id="sort-id">
            <div class="sort__icon" id="sort-icon"> 
                <p class="sort__label">Sort By</p>
                <i class='bx bx-chevron-down sort__down'></i>
            </div>
            <div class="sort__dropdown" id="sort-dropdown-id">
                <p class="option">Feature</p>
                <p class="option" id='lth'>Price, low to high</p>
                <p class="option" id='htl'>Price, high to low</p>
                <p class="option">Best selling</p>
            </div> 
        </div>
    </div>
    
    <!-- ===== SHOP PRODUCT ===== -->
    <section class="best__seller">
        <p class="best__seller__title">Best Seller</p>
        <div class="product">
            {{#each rows}}
            <div class="product1 pro">
                <div class="product__body">
                    <img src="{{this.product_dir}}" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">{{this.product_name}}</p>
                    <p class="product__price">${{this.product_price}}</p>
                </div>
            </div>
            {{/each}}

            {{#each data}}
            <div class="product1 pro">
                <div class="product__body">
                    <img src="{{this.product_dir}}" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">{{this.product_name}}</p>
                    <p class="product__price">${{this.product_price}}</p>
                </div>
            </div>
            {{/each}}
            
        </div>
    </section>

    <!-- ===== ASK ===== -->
    <section class="ask">  
        <img src="/img/asksmall.jpeg" class="ask__img" alt="">
        <div class="ask__content">
            <p class="ask__content__title1">Ask An<br>Expert</p>
            <p class="ask__content__title2">We’re here to help!</p>
            <p class="ask__content__sub">
                Quisquemos sodales suscipit tortor condimentum de 
                cosmo lacus meleifend menean blanditos.
            </p>
            <p class="ask__button">ASK US</p>
        </div>  
    </section>

    <!-- ===== EXPERT SAID ===== -->
    <section class="expert__said">
        <div class="expert__said1 ets">
            <div class="expert__said__content">
                Pellentesque scelerisque eget lectus vitae congue. 
                Phasellus ut laoreet purus. Proin accumsan commodo 
                venenatis. Nunc nedolus vestibulum nisl sit amet 
                tristique libero. Nulla cursus hendrerit facilisis. 
                Duis mattis sit amet neque etos cosmo condimentum 
                aliquam deratorum volutpat nam scelerisque ipsum 
                accumsan lorem placerat dignissim.
            </div>
            <div class="expert__said__avatar">
                <img src="/img/chris.jpeg" alt="">
                <div class="expert__said__avatar__label">
                    <p class="expert__said__avatar__label1">Annie Lee</p>
                    <p class="expert__said__avatar__label2">Chief Executive</p>
                </div>
            </div>
        </div>
        <div class="expert__said2 ets">
            <div class="expert__said__content">
                Pellentesque scelerisque eget lectus vitae congue. 
                Phasellus ut laoreet purus. Proin accumsan commodo 
                venenatis. Nunc nedolus vestibulum nisl sit amet 
                tristique libero. Nulla cursus hendrerit facilisis. 
                Duis mattis sit amet neque etos cosmo condimentum 
                aliquam deratorum volutpat nam scelerisque ipsum 
                accumsan lorem placerat dignissim.
            </div>
            <div class="expert__said__avatar">
                <img src="/img/chris.jpeg" alt="">
                <div class="expert__said__avatar__label">
                    <p class="expert__said__avatar__label1">Annie Lee</p>
                    <p class="expert__said__avatar__label2">Chief Executive</p>
                </div>
            </div>
        </div>
        <div class="expert__said3 ets">
            <div class="expert__said__content">
                Pellentesque scelerisque eget lectus vitae congue. 
                Phasellus ut laoreet purus. Proin accumsan commodo 
                venenatis. Nunc nedolus vestibulum nisl sit amet 
                tristique libero. Nulla cursus hendrerit facilisis. 
                Duis mattis sit amet neque etos cosmo condimentum 
                aliquam deratorum volutpat nam scelerisque ipsum 
                accumsan lorem placerat dignissim.
            </div>
            <div class="expert__said__avatar">
                <img src="/img/chris.jpeg" alt="">
                <div class="expert__said__avatar__label">
                    <p class="expert__said__avatar__label1">Annie Lee</p>
                    <p class="expert__said__avatar__label2">Chief Executive</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== Recently Viewed ===== -->
    <section class="recently__viewed">
        <p class="recently__viewed__title">Recently Product Viewed</p>
        <div class="recently__viewed__product">
            <div class="product1 pro">
                <div class="product__body">
                    <img src="/img/product1.jpeg" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">Ariel Sinaloa</p>
                    <p class="product__price">$400</p>
                </div>
            </div>
            <div class="product2 pro">
                <div class="product__body">
                    <img src="/img/product2.jpeg" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">Ariel Sinaloa</p>
                    <p class="product__price">$500</p>
                </div>
            </div>
            <div class="product3 pro">
                <div class="product__body">
                    <img src="/img/product3.jpeg" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">Ariel Sinaloa</p>
                    <p class="product__price">$300</p>
                </div>
            </div>
            <div class="product4 pro">
                <div class="product__body">
                    <img src="/img/product4.jpeg" alt="">
                    <div class="product__button">
                        <a href="#">ADD TO CART</a>
                    </div>
                </div>
                <div class="product__bottom">
                    <p class="product__name">Ariel Sinaloa</p>
                    <p class="product__price">$700</p>
                </div>
            </div>
        </div>
    </section>
   


    <script src="/js/shop.js"></script>

</body>
</html>